[sources]
collective.cover = git https://github.com/collective/collective.cover.git branch=plone_app_widgets_compatibility
collective.easyform = git https://github.com/abstract-open-solutions/collective.easyform.git branch=eea-disable-caching-for-form-view
collective.sweeteditor = git https://github.com/Petchesi-Iulian/collective.sweeteditor.git
eea.climateadapt = git https://github.com/eea/eea.climateadapt.plone.git

plone.app.widgets = git https://github.com/tiberiuichim/plone.app.widgets.git branch=1.x
# plone.app.widgets = git https://github.com/plone/plone.app.widgets.git branch=1.x

# collective.sweeteditor = git git://github.com/collective/collective.sweeteditor.git
# collective.easyform = git https://github.com/abstract-open-solutions/collective.easyform.git
# collective.sweeteditor = git git://github.com/collective/collective.sweeteditor.git
